*{
  box-sizing: border-box;
  margin: 0;
  padding:0;

}
.box{
  width: 1800px;
  height: 900px;
  background:linear-gradient(135deg,#c471e8,#4723be);
  font-size: 0;
  margin-top: 40px;
  margin-left: 50px;
  

}
.box-1{
  width: 700px;
  height: 700px;
 background-color:#1fbcd2;
 font-size: 16px;
 display: inline-block;
 vertical-align: top;
 margin-top: 30px;
 margin-left: 40px;
text-align: center;

}
.box-2{
  width: 700px;
  height: 700px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-top: 30px;
  background-color: white;

}
.box-1 h2{
  color:white;
  font-weight: 700px;
  font-size: 28px;
  padding-top:100px;

}
.box-1 p{
  color: white;
  font-size: 16px;
}
.box-2 h3{
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  text-align: center;
  padding-top: 30px;

}
.box-2 p{
  padding-left: 40px;
}
.parent{

  padding-left: 50px;
  padding-top: 20px;
}
.parent input{
  width: 300px;
  height: 50px;
  padding-left: 20px;
}
.form input{
  margin-top: 20px;
}

.form textarea{
  width: 300px ;
  height: 100px;
  margin-top: 20px;
  padding: 15px 20px;
 
}
.btn{
  
    background-color:#1fbcd2;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;



}


